# dependencies
/node_modules

# testing
/coverage

# TanStack Start
/.tanstack
/.output
/dist

# Cloudflare
/.wrangler
/wrangler.toml.bak

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# generated
src/routeTree.gen.ts

report.*.json

# .vscode Debugging
.vscode/*-debug-profile
