@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
}

html {
  color: #d9d9d9;
  background-color: #000;
}

.font-sans-light {
  font-variation-settings:
    'wght' 300,
    'opsz' 12,
    'wdth' 100;
}
